// 更新时间2020.09.03 wxt
// 1.左右滚动列表 
.ul_scroll_div{
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 5px 0px;
    .ul_arrow{
        padding: 0 8px;
        cursor: pointer;
        display: flex;
    }
    .ul_scroll{
        list-style-type: none;
        border: 0px solid red;
        margin: 0px;
        padding: 0px 10px;
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        .li_scroll{
            border: 0px solid blue;
            margin: 0 2px;
            cursor: pointer;
            padding: 2px 15px;
            border-radius: 20px;
        }
        .selectli{
            background:#1890ff;
            color: white;
        }
    }
}
.filterDropDiv{
    .filter_menu_item{
        height: auto;
        border: 0px solid red;
        margin: 0;
        padding: 3px 12px;
        color: rgba(0,0,0,.85);
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    .ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
        margin-bottom: 0px;
    }
}
