$bg: #FF00B2;//bg变量
$fs:20px;
.my_font{
    color: blue;
    font-size: $fs;
}
//定义一个混合可重复使用样式
@mixin style_mixin {
    font:{
      family: Arial;
      size: 20px;
      weight: bold;
    }
    color: #ff0000;
}
